<div class="row p-5">
  <div class="col-sm-7 mx-auto">
    <div class="card ">
      <div class="card-header bg-dark text-white">
        <h6>Editar Usuario</h6>
      </div>
      <div class="card-body">
        <form action="/users/edit/{{usuarios.id}}" method="POST">
          <div class="card-body">
            <div class="form-group row">
              <label for="usenamer" class="col-sm-2 col-form-label text-left">Usuario</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name='username' id="username" value="{{usuarios.username}}"
                  placeholder="users" title="Max 20 caracteres" pattern="[a-zA-Z0-9áéíóúñÑ#@$&/ ,.'-]{5,20}" autofocus
                  readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="fullname" class="col-sm-2 col-form-label text-left">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name='fullname' id="fullname" placeholder="Nombre usuario"
                  title="Max 50 caracteres" value="{{usuarios.fullname}}" pattern="[a-zA-Z0-9áéíóúñÑ#@$&/ ,.'-]{3,50}"
                  required>
              </div>
            </div>

            <div class="form-group row">
              <label for="codmpio" class="col-sm-2 col-form-label text-left">Municipio</label>
              <div class="col-sm-10">
                <select class="custom-select" name="codmpio" id="codmpio" onchange="llenarPuestos()" autofocus>
                  <option selected value="{{usuarios.codmpio}}">{{usuarios.municipio}}</option>
                  {{#each cytes }}
                  <option value="{{codigo}}">{{mpio}}</option>
                  {{/each }}
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="codpuesto" class="col-sm-2 col-form-label text-left">Puesto</label>
              <div class="col-sm-10">
                <select class="custom-select" name="codpuesto" id="puesto">
                  <option selected value="{{usuarios.codpuesto}}">{{usuarios.nombpuesto}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="rol" class="col-sm-2 col-form-label text-left">Rol</label>
              <div class="col-sm-10">
                <select class="custom-select" name="rol" id="rol" required>
                  <option selected value="{{usuarios.rol}}">{{usuarios.roles}}</option>
                  <option value="">Seleccione</option>
                  <option value="1">Administrador</option>
                  <option value="2">Coordinador Departamental</option>
                  <option value="3">Coordinador Municipal</option>
                  <option value="4">Delegado Puesto</option>
                  <option value="8">Analista</option>
                  <option value="9">Digitador</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="especial" class="col-sm-2 col-form-label text-left"></label>
              <div class="col-sm-10  text-right">
                <input id="especial" class="form-check-input me-1" name="especial" type="checkbox"
                  value="{{usuarios.especial}}">Especial
              </div>
            </div>
          </div>
          <div class="card-body p-1">
            <div class="col-sm-12 mx-auto">
              <button class="btn btn-primary btn-block ">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  var codptovotar = {{{ acodpuesto }}};
  var nomptovotar = {{{ anompuesto }}};

  var ptosMpios = [];
  var pvotacion = [];
  var registros = [];
 
  const mycytes = document.getElementById('codmpio');
  const mypuestos = document.getElementById('puesto');
  const checkbox = document.getElementById('especial');
  const myCheckbox = checkbox.value

  if (myCheckbox === '1') {
    checkbox.checked = true;
  }

  checkbox.addEventListener('change', function () {
    if (this.checked) {
      this.value = '1'; // Cambia el valor a '1' si está marcado
    } else {
      this.value = '0'; // Cambia el valor a '0' si está desmarcado
    }
  });

  for (var i in codptovotar) {
    pvotacion.push([
      codptovotar[i],
      nomptovotar[i]
    ]);
  }

  function llenarArray(codmpio) {
    ptosMpios = []
    for (let i = 0; i < pvotacion.length; i++) {
      var currentNumber = pvotacion[i][0].toString();
      var currentNombre = pvotacion[i][1].toString();

      if (currentNumber.substr(0, 5) === codmpio) {
        ptosMpios.push([currentNumber, currentNombre])
      }
    }
  }

  function llenarPuestos() {
    var municipios = document.getElementById('codmpio');
    var puestosvotacion = document.getElementById('puesto');
    var mpioSeleccionado = municipios.value

    // Se limpian los puestos de votacion
    puestosvotacion.innerHTML = '<option value="">Seleccione un Puesto...</option>'

    if (mpioSeleccionado !== '') {
      puestosvotacion.disabled = false;

      // Se seleccionan los puestos de votacion por cada municipio
      llenarArray(mpioSeleccionado);

      // Insertamos los puestos de votacion
      ptosMpios.forEach(function (puesto) {
        let opcion = document.createElement('option');
        opcion.value = puesto[0];
        opcion.text = puesto[1];
        puestosvotacion.add(opcion);
      });
    } else {
      puestosvotacion.disabled = true;
    }
  }

  function llenarArrayInicial(codmpio) {
     var puestosvotacion = document.getElementById('puesto');
    ptosMpios = []
    for (let i = 0; i < pvotacion.length; i++) {
      var currentNumber = pvotacion[i][0].toString();
      var currentNombre = pvotacion[i][1].toString();

      if (currentNumber.substr(0, 5) === codmpio) {
        ptosMpios.push([currentNumber, currentNombre])
      }
    }

    ptosMpios.forEach(function (puesto) {
      let opcion = document.createElement('option');
      opcion.value = puesto[0];
      opcion.text = puesto[1];
      puestosvotacion.add(opcion);
    });
  }

  const myCodMpio = mycytes.value;
  llenarArrayInicial(myCodMpio);
</script>